body,
html {
  background-color: #f7f8fc;
  min-height: 100vh;
}

.margin-temp {
  margin-top: 23px;
}

.top-container {
  min-height: 100vh;
}

#currentUser {
  display: flex;
  flex-direction: row;
}

#currentUser h5 {
  margin: auto;
}

#currentUser img {
  width: 80px;
  height: 50px;
  border-radius: 10px;
}

.top {
  background-color: #f7f8fc;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#userImage {
  width: 80%;
  height: auto;
}

.searchbar-div span {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.searchbar {
  border-radius: 5px;
  color: #9fa2b4;
  background-color: #f7f8fc;
  width: 100%;
  border: none;
}
.searchbar-div {
  width: 200px;
}
