body {
  background-color: #f7f8fc;
}

.container {
  background-color: #f7f8fc;
  /* background-color: green; */

  /* border: 1px solid red; */
}

#currentUser {
  display: flex;
  flex-direction: row;
}

#currentUser h5 {
  margin: auto;
}

#currentUser img {
  width: 80px;
  height: 50px;
  border-radius: 10px;
}

.card h5 {
  color: #9fa2b4;
}

.row {
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
}

.top {
  background-color: #f7f8fc;
}

.cards-row {
  /* border: 1px solid black; */
  align-items: center;
  /* background-color: green; */
  background-color: #f7f8fc;
}

.graph-row {
  height: 400px;
  /* border: 1px solid black; */
}

.exc-row {
  /* border: 1px solid black; */
  padding: 15px;
  align-items: center;
}

.head-col {
  color: #9fa2b4;
}

.exc-row td {
  text-align: center;
  vertical-align: middle;
}
.col-top {
  text-align: center;
  vertical-align: middle;
}

.excersize-info {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.img-container img {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  vertical-align: middle;
}
.text-container {
  margin-left: 15px;
}

.text-container p {
  color: #9fa2b4;
}

.page-header-row {
  height: 100px;
}

.cards-row {
  height: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* #d3-container {
  z-index: 100;
} */
