{% extends "base.html" %} {%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/classes.css') }}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Overview</title>
</head>

<body>
    <div class="container">
        <div class="row header top">
            <div class="header">
                <h3>Overview</h3>
                <div id="currentUser"><img src="{{ url_for('static',filename='img/usericon.png') }}" alt="">
                    <h5>Hakan Akkas</h5>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <div class="card">
                <div class="card-header headcolor d-flex">
                    <div class="col-3">
                        <h3>Classes</h3>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                                aria-describedby="search-addon" />
                            <button type="button" class="btn btn-outline-primary">search</button>
                        </div>
                    </div>
                    <div class="col-3 buttonalignment">
                        <button class="btn btn-primary">Download</button>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for class in classes %}
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            {{class.name}}
                            <span class="badge bg-primary rounded-pill numberalignment">{{class.members}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer headcolor"></div>
            </div>

        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>

</body>

</html>
{%endblock%}