{% extends "base.html" %} {% block head%}

<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/classes.css') }}"
/>

{% endblock %} {%block content%}

<div class="container top">
  <div class="row header top mt-2">
    <div class="header margin-temp">
      <h3>Beginner Coderclass</h3>
      <div id="currentUser">
        <img src="{{ url_for('static',filename='img/usericon.png') }}" alt="" />
        <h5>{{ current_user }}</h5>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <div class="card">
      <div class="row headcolor">
        <div class="col d-flex">
          <a href="/download_student_csv" class="btn btn-primary ms-auto m-3">Download</a>
        </div>
      </div>

      <div class="row">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col">
                  <h6>Level</h6>
                </div>
                <div class="col">
                  <h6>Aantal studenten klaar</h6>
                </div>
              </div>
            </li>
            {% for class in classes %}
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value=""
                aria-label="..."
              />
              {{class.name}}
              <span class="badge bg-primary rounded-pill numberalignment"
                >{{class.members}}</span
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="rounded-bottom" id="bottomRow"></div>
      </div>
    </div>
  </div>
  <div class="row" id="graphSpacing">
    <div class="col">
      <div class="card" style="width: 35rem;">
        <div class="card-body">
          <canvas id="dailyBarChart" width="400" height="300"></canvas>
          <script>
             const setupDailyChart = document.getElementById('dailyBarChart').getContext('2d');
            const dailyChart = new Chart(setupDailyChart, {
                type: 'bar',
                data: {
                    labels: {{ labels | safe }},
            datasets: [
                {
                    label: 'Percentage studenten klaar met module',
                    data: {{ today | safe}},
                backgroundColor: 'rgba(50, 144, 237, 1)'
                }
            ]
                },
            options: {
                responsive: false,
            }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static',filename='js/classes.js') }}"></script>

{%endblock%}
