{% extends "base.html" %} {% block head%}

<link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}" />

{% endblock %} {%block content%}
<div class="container top">
    <div class="row header top mt-2">
        <div class="header margin-temp">
            <h3>Classes</h3>
            <div id="currentUser">
                <img src="{{ url_for('static',filename='img/usericon.png') }}" alt="" />
                <h5>{{ current_user }}</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card d-flex">
            <div class="col mt-2">
                <img id="userImage" src="{{ url_for('static',filename='img/usericon.png') }}" alt="" />
            </div>
            <div class="col mt-2">
                <h1 id="text"></h1>
                <br>
                <h6>Email: email@gmail.com</h6>
            </div>
        </div>
    </div>
    <div class="row exc-row">
        <div class="header">
            <div>
                <h3>Projects</h3>
            </div>

            <div class="searchbar-div">
                <input type="text" class="col-md-2 searchbar" placeholder="Search" />
            </div>
        </div>

        <div class="col">
            <table class="table">
                <thead>
                    <tr class="head-col">
                        <th scope="col">Assignment</th>
                        <th class="col-top" scope="col">Not started</th>
                        <th class="col-top" scope="col">In progress</th>
                        <th class="col-top" scope="col">Done</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in project_info.iterrows() %}

                    <tr>
                        <th scope="row">
                            <div class="excersize-info">
                                <div class="text-container">
                                    <h4>{{ value['projectName'] }}</h4>
                                </div>
                            </div>
                        </th>

                        <td>{{ value['projectStatus'][0] }}</td>
                        <td>{{ value['projectStatus'][1] }}</td>
                        <td>{{ value['projectStatus'][2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='js/detail.js') }}"></script>
{%endblock%}