{% extends "base.html" %} {%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/helppage.css') }}"
    />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>Dashboard Overview</title>
  </head>
  <body>
    <div class="container">
        <div class="header mt-5">
            <h3>Help</h3>
            <div id="currentUser"><img src="{{ url_for('static',filename='img/usericon.png') }}" alt=""><h5>Hakan Akkas</h5></div>
            
          </div>
        <div>
          <div class="header mt-5">
                <h5>Contact</h5>
          </div>
          <div>
                <p class="card-text">Mail: mike.schilder@hva.nl<br>
                Telefoon: +31627974588 <br>
                Bereikbaar maandag t/m tussen 9:00 en 17:00<br>
                </p>
          </div>
          <div class="header mt-5">
                <h5>Handleidingen</h5>
          </div>
          <div class="row gx-5">
            <div class="col-sm-6">
                <div class="card p-5">
                 <h5>Technische handleiding</h5>
                 <p class="card-text">De technische handleiding legt uit hoe het dashboard in opgezet, de codestructuur en gebruikte modules, daarnaast wordt stapsgewijs uitgelegd hoe je de code zelf kan uitvoeren.</p>
                 <a
                    href="https://docs.google.com/document/d/1nWyhF8iyx1GK26zao37a-54S_qFOvP22MMF9Cb-RCWM/export?format=pdf"
                 ></a><button class="btn btn-primary">Download</button></a>
                </div>
              </div>
            
            <div class="col-sm-6">
                <div class="card p-5">
                 <h5>Gebruikers handleiding</h5>
                 <p class="card-text">De gebruikershandleidng legt alle functies van dit dashboard uit. Met behulp van de handleiding kunt de benodigde informatie uit Badgecraft halen.</p>
                 <a
                  href="https://docs.google.com/document/d/1nWyhF8iyx1GK26zao37a-54S_qFOvP22MMF9Cb-RCWM/export?format=pdf"
                  ></a><button class="btn btn-primary">Download</button></a>
                </div>
             </div>
        
          </div>
        </div>
    </div>
  </body>
</html>
{%endblock%}
