{% extends "base.html" %} {% block head %}

<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/overview.css') }}"
/>
{% endblock %} {%block content%}

<div class="container">
  <div class="row header top">
    <div class="header">
      <h3>Overview</h3>
      <div id="currentUser">
        <img src="{{ url_for('static',filename='img/usericon.png') }}" alt="" />
        <h5>{{ current_user }}</h5>
      </div>
    </div>
  </div>
  <div class="row cards-row">
    <div class="col">
      <div class="card text-center cards-counter">
        <div class="card-body">
          <h5 class="card-title">Student count</h5>
          <h2>{{ student_count }}</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center cards-counter">
        <div class="card-body">
          <h5 class="card-title">Total badges earned</h5>
          <h2>{{ number_badges }}</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center cards-counter">
        <div class="card-body">
          <h5 class="card-title">Average badges per student</h5>
          <h2>{{ average_badgecount }}</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center cards-counter">
        <div class="card-body">
          <h5 class="card-title">Students below average</h5>
          <h2>{{ below_average_count }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row graph-row">
    <div class="col">
      <h5>Amount of badges earned per class</h5>
      <div>
        <canvas id="myChart" width="380" height="340"></canvas>
      </div>
    </div>
  </div>
  <div class="row exc-row">
    <div class="header">
      <div><h3>Projects</h3></div>

      <div class="searchbar-div">
        <input type="text" class="col-md-2 searchbar" placeholder="Search" />
      </div>
    </div>

    <div class="col">
      <table class="table">
        <thead>
          <tr class="head-col">
            <th scope="col">Assignment</th>
            <th class="col-top" scope="col">Not started</th>
            <th class="col-top" scope="col">In progress</th>
            <th class="col-top" scope="col">Done</th>
          </tr>
        </thead>
        <tbody>
          {% for key,value in project_info.iterrows() %}

          <tr>
            <th scope="row">
              <div class="excersize-info">
                <div class="text-container">
                  <h4>{{ value['projectName'] }}</h4>
                </div>
              </div>
            </th>

            <td>{{ value['projectStatus'][0] }}</td>
            <td>{{ value['projectStatus'][1] }}</td>
            <td>{{ value['projectStatus'][2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script src="{{ url_for('static',filename='js/overview.js') }}"></script>
</div>
{%endblock%}
