{% extends "base.html" %} {% block head %}

<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/overview.css') }}"
/>
{% endblock %} {%block content%}

<div class="container">
  <div class="row header top">
    <div class="header">
      <h3>Overview</h3>
      <div id="currentUser">
        <img src="{{ url_for('static',filename='img/usericon.png') }}" alt="" />
        <h5>{{ current_user}}</h5>
      </div>
    </div>
  </div>
  <div class="row cards-row">
    <div class="col">
      <div class="card text-center cards-counter">
        <div class="card-body">
          <h5 class="card-title">Student count</h5>
          <h2>{{ student_count }}</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center cards-counter">
        <div class="card-body">
          <h5 class="card-title">Total badges earned</h5>
          <h2>{{ number_badges }}</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center cards-counter">
        <div class="card-body">
          <h5 class="card-title">Average badges per student</h5>
          <h2>{{ average_badgecount }}</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center cards-counter">
        <div class="card-body">
          <h5 class="card-title">Students below average</h5>
          <h2>{{ below_average_count }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row graph-row">
    <div class="col">
      <h5>Basis Programma badges per team</h5>
      <div>
        <canvas id="myChart" width="380" height="340"></canvas>
      </div>
    </div>
  </div>
  <div class="row exc-row">
    <div class="header">
      <div><h3>Projects</h3></div>

      <div class="searchbar-div">
        <form id="sort-form">
          {% if search_term is not none%}
          <input
            id="search-input"
            type="text"
            name="searchTerm"
            value="{{ search_term }}"
            class="col-md-2 searchbar"
            placeholder="Search by project"
          />
          {% else %}
          <input
          id="search-input"
          type="text"
          name="searchTerm"
          value="{{ '' }}"
          class="col-md-2 searchbar"
          placeholder="Search by project"
        />
        {% endif%}
          <button type="button" onclick="resetSearch()"
           name="" value="" class="btn btn-secondary">Reset</button>
      </div>
    </div>

    <div class="col">
      <table class="table">
        <thead>
          <tr class="head-col">
            <th scope="col">Assignment</th>
            <th class="col-top" scope="col">Not started</th>
            <th class="col-top" scope="col">In progress</th>
            <th class="col-top" scope="col">Done</th>
          </tr>
        </thead>
        <thead class="column-top">
          <tr>
              <th scope="col" width="25" style="color: white">
                <button
                  class="btn btn-secondary btn-sm"
                  name="sort"
                  value="assignment-asc"
                >
                 asc
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  name="sort"
                  value="assignment-desc"
                >
                 desc
                </button>
              </th>
              <th scope="col" width="25%" style="color: white">
                <button
                  class="btn btn-secondary btn-sm"
                  name="sort"
                  value="not-started-asc"
                >
                   asc
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  name="sort"
                  value="not-started-desc"
                >
                desc
                </button>
              </th>
              <th scope="col" width="25%" style="color: white">
                <button
                  class="btn btn-secondary btn-sm"
                  name="sort"
                  value="in-progress-asc"
                >
                   asc
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  name="sort"
                  value="in-progress-desc"
                >
                 desc
                </button>
              </th>
              <th scope="col" width="25%" style="color: white">
                <button
                  class="btn btn-secondary btn-sm"
                  name="sort"
                  value="done-asc"
                >
                   asc
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  name="sort"
                  value="done-desc"
                >
                  desc
                </button>
              </th>
      </form>
          </tr>
        </thead>
        <tbody>
          {% for key,value in project_info.iterrows() %}

          <tr>
            <td><h4>{{ value['projectName'] }}</h4></td>
            <td>{{ value['not.started'] }}</td>
            <td>{{ value['in.progress'] }}</td>
            <td>{{ value['done'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div style="display: flex; justify-content: center">{{pagination.links}}</div>
  <script src="{{ url_for('static',filename='js/overview.js') }}"></script>
</div>
{%endblock%}
