{% extends "base.html" %} {% block head%}

<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/students.css') }}"
/>

{% endblock %} {%block content%}

<div class="container mt-5 px-2">
  <div class="row header top">
    <div class="header">
      <h3>Students</h3>
      <div id="currentUser">
        <img src="/static/img/usericon.png" alt="" />
        <h5>{{ current_user }}</h5>
      </div>
    </div>
  </div>
  <div class="mb-2 d-flex justify-content-between align-items-center"></div>
  <div class="position-relative col">
    <span class="position-absolute search"><i class="fa fa-search"></i></span>
    <input class="form-control" placeholder="Search by name, date or e-mail" />
  </div>
  <div class="table-responsive">
    <table class="table table-responsive table-borderless user-table">
      <thead class="column-top">
        <tr>
          <th scope="col" width="25%" style="color: white">Name</th>
          <th scope="col" width="25%" style="color: white">Badges</th>
          <th scope="col" width="25%" style="color: white">Quests</th>
          <th scope="col" width="25%" style="color: white">Certificates</th>
        </tr>
      </thead>
      <thead class="column-top">
        <tr>
          <form>
            <th scope="col" width="25" style="color: white">
              <button
                class="btn btn-secondary btn-sm"
                name="sort"
                value="name-asc"
              >
                Names asc
              </button>
              <button
                class="btn btn-secondary btn-sm"
                name="sort"
                value="name-desc"
              >
                Names desc
              </button>
            </th>
            <th scope="col" width="25%" style="color: white">
              <button
                class="btn btn-secondary btn-sm"
                name="sort"
                value="badge-asc"
              >
                Badges asc
              </button>
              <button
                class="btn btn-secondary btn-sm"
                name="sort"
                value="badge-desc"
              >
                Badges desc
              </button>
            </th>
            <th scope="col" width="25%" style="color: white">
              <button
                class="btn btn-secondary btn-sm"
                name="sort"
                value="quest-asc"
              >
                Quests asc
              </button>
              <button
                class="btn btn-secondary btn-sm"
                name="sort"
                value="quest-desc"
              >
                Quests desc
              </button>
            </th>
            <th scope="col" width="25%" style="color: white">
              <button
                class="btn btn-secondary btn-sm"
                name="sort"
                value="cert-asc"
              >
                Certificates asc
              </button>
              <button
                class="btn btn-secondary btn-sm"
                name="sort"
                value="cert-desc"
              >
                Certificates desc
              </button>
            </th>
          </form>
        </tr>
      </thead>

      <tbody>
        {% for key,value in students.iterrows() %}
        <tr class="border">
          <td class="name">{{ value['student.name'] }}</td>
          <td>{{ value['student.badge'] }}</td>
          <td>{{ value['student.quest'] }}</td>
          <td>{{ value['student.certificate'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="{{ url_for('static',filename='js/students.js') }}"></script>
</div>

{%endblock%}
