{% extends "base.html" %} {% block head%}

<link rel="stylesheet" href="{{ url_for('static',filename='css/users.css') }}" />

{% endblock %} {%block content%}


<div class="container mt-5 px-2">
  <div class="row header top">
    <div class="header">
      <h3>Students</h3>
      <div id="currentUser"><img src="/static/img/usericon.png" alt="">
        <h5>Hakan Akkas</h5>
      </div>

    </div>
  </div>
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <div class="row justify-content-center">
      <div class="px-2 col">
        <button type="button" class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#collapseFilter"
          aria-expanded="false" aria-controls="collapseFilter">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
            viewBox="0 0 16 16">
            <path
              d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
            </path>
          </svg>
          Filter
        </button>
        <div class="collapse" id="collapseFilter">
          <div id="collapseIfOtherActive">
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFilterOption" aria-expanded="false" aria-controls="collapseExample">
                Namen
              </button>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFilterOption2" aria-expanded="false" aria-controls="collapseExample">
                Badges
              </button>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFilterOption3" aria-expanded="false" aria-controls="collapseExample">
                Quests
              </button>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFilterOption4" aria-expanded="false" aria-controls="collapseExample">
                Certificates
              </button>
            </p>
            <div class="collapse" id="collapseFilterOption" data-bs-parent="#collapseIfOtherActive">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Namen oplopend</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Namen aflopend</label>
              </div>
            </div>
            <div class="collapse" id="collapseFilterOption2" data-bs-parent="#collapseIfOtherActive">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">Badges oplopend</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                <label class="form-check-label" for="inlineCheckbox4">Badges aflopend</label>
              </div>
              <br>
              <br>
              <label for="customRange2" class="form-label">Hoeveelheid badges</label>
              <input type="range" value="5" min="0" max="50" oninput="this.nextElementSibling.value = this.value"
                class="form-range" id="customRange2">
              <output>5</output>
            </div>
            <div class="collapse" id="collapseFilterOption3" data-bs-parent="#collapseIfOtherActive">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option3">
                <label class="form-check-label" for="inlineCheckbox5">Quests oplopend</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option4">
                <label class="form-check-label" for="inlineCheckbox6">Quests aflopend</label>
              </div>
              <br>
              <br>
              <label for="customRange3" class="form-label">Hoeveelheid Quests</label>
              <input type="range" value="5" min="0" max="50" oninput="this.nextElementSibling.value = this.value"
                class="form-range" id="customRange3">
              <output>5</output>
            </div>
            <div class="collapse" id="collapseFilterOption4" data-bs-parent="#collapseIfOtherActive">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option5">
                <label class="form-check-label" for="inlineCheckbox5">Certificates oplopend</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option6">
                <label class="form-check-label" for="inlineCheckbox6">Certificates aflopend</label>
              </div>
              <br>
              <br>
              <label for="customRange4" class="form-label">Hoeveelheid Certificates</label>
              <input type="range" value="5" min="0" max="50" oninput="this.nextElementSibling.value = this.value"
                class="form-range" id="customRange4">
              <output>5</output>
            </div>
          </div>
        </div>
      </div>
    

    </div>
  </div>
  <div class="position-relative col"> <span class="position-absolute search"><i class="fa fa-search"></i></span>
    <input class="form-control" placeholder="Search by name, date or e-mail">
  </div>
  <div class="table-responsive">
    <table class="table table-responsive table-borderless user-table">
      <thead class="column-top">
        <tr>
          <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
          <th scope="col" width="5%" style="color: white;">Name</th>
          <th scope="col" width="20%" style="color: white;">User Status</th>
          <th scope="col" width="20%" style="color: white;">Badges</th>
          <th scope="col" width="20%" style="color: white;">Quests</th>
          <th scope="col" width="20%" style="color: white;">Certificates</th>
          <th scope="col" width="10%"></th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr class="border">
          <th><input class="form-check-input" type="checkbox"></th>
          <td>{{student.name}}
            <br>
            {{student.email}}
          </td>
          <td>
            <div class="user-status">
              <span class="ms-1">Last login:
                {{student.logIn}}</span>
            </div>
          </td>
          <td>{{student.badges}}</td>
          <td>{{student.quests}}</td>
          <td>{{student.certificates}}</td>
        </tr>
        {% endfor %}
        <!-- 
        <tr>
          <th scope="row"><input class="form-check-input" type="checkbox"></th>
          <td>Hooshang Kooshani
            hooshang.kooshani@hva.nl
          </td>
          </td>
          <td>
            <div class="user-status">

              <div class="bottom"><span class="ms-1">Last login: 14/april/2022</span>
          </td>
  </div>
</div>


</tr>
<tr>
  <th scope="row"><input class="form-check-input" type="checkbox"></th>
  <td>Farzad Mobasher
    farzad.mobasher@hva.nl
  </td>
  <td>
    <div class="user-status">
      <div class="top"> <span class="badge bg-secondary">Inactive</span> </div>
      <div class="bottom"><i class="fa fa-check-circle-o green"></i><span class="ms-1">Last login: 14/april/2022</span>
  </td>
  </div>
  </div>
  <td>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"> Programming 1:</div>
    </div>
  </td>
</tr>
<tr>
  <th scope="row"><input class="form-check-input" type="checkbox"></th>
  <td>Ayoub Barkani
    ayoub.barkani@hva.nl
  </td>
  <td>
    <div class="user-status">
      <div class="top"> <span class="badge bg-secondary">Inactive</span> </div>
      <div class="bottom"><i class="fa fa-check-circle-o green"></i><span class="ms-1">Last login: 14/april/2022</span>
  </td>
  </div>
  </div>
  <td>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100"> Programming 1:</div>
    </div>
  </td>
</tr>
<tr>
  <th scope="row"><input class="form-check-input" type="checkbox"></th>
  <td> Po Man <br> po.man@hva.nl
  </td>
  <td>
    <div class="user-status">
      <div class="top"> <span class="badge bg-primary">Active</span> </div>
      <div class="bottom"><i class="fa fa-check-circle-o green"></i><span class="ms-1">Last login: 14/april/2022</span>
  </td>
  </div>
  </div>
  <td>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"> Programming 1</div>
    </div>
  </td>
</tr> -->
      </tbody>
    </table>
  </div>
</div>

{%endblock%}