{% extends "base.html" %} {% block head%}

<link rel="stylesheet" href="{{ url_for('static',filename='css/users.css') }}" />

{% endblock %} {%block content%}


<div class="container mt-5 px-2">
  <div class="row header top">
    <div class="header">
      <h3>Students</h3>
      <div id="currentUser"><img src="/static/img/usericon.png" alt="">
        <h5>Hakan Akkas</h5>
      </div>

    </div>
  </div>
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <div class="row justify-content-center">
      <div class="px-2 col">
        <button type="button" class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#collapseFilter"
          aria-expanded="false" aria-controls="collapseFilter">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
            viewBox="0 0 16 16">
            <path
              d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
            </path>
          </svg>
          Filter
        </button>
        <div class="collapse" id="collapseFilter">
          <div class="card card-body w-auto">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    Namen
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                  aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">Namen oplopend</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                      <label class="form-check-label" for="inlineCheckbox2">Namen aflopend</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Badges
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                      <label class="form-check-label" for="inlineCheckbox3">Badges oplopend</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                      <label class="form-check-label" for="inlineCheckbox4">Badges aflopend</label>
                    </div>
                    <label for="customRange2" class="form-label">Hoeveelheid badges</label>
                    <input type="range" value="5" min="0" max="50" oninput="this.nextElementSibling.value = this.value"
                      class="form-range" id="customRange">
                    <output>5</output>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    Quests
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                      <label class="form-check-label" for="inlineCheckbox5">Quests oplopend</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                      <label class="form-check-label" for="inlineCheckbox6">Quests aflopend</label>
                    </div>
                    <label for="customRange2" class="form-label">Hoeveelheid quests</label>
                    <input type="range" value="5" min="0" max="50" oninput="this.nextElementSibling.value = this.value"
                      class="form-range" id="customRange2">
                    <output>5</output>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFour">
                    Certificates
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                      <label class="form-check-label" for="inlineCheckbox7">Certificates oplopend</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
                      <label class="form-check-label" for="inlineCheckbox8">Certificates aflopend</label>
                    </div>
                    <label for="customRange2" class="form-label">Hoeveelheid certificates</label>
                    <input type="range" value="5" min="0" max="50" oninput="this.nextElementSibling.value = this.value"
                      class="form-range" id="customRange3">
                    <output>5</output>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative col"> <span class="position-absolute search"><i class="fa fa-search"></i></span>
        <input class="form-control w-100" placeholder="Search by name, date or e-mail">
      </div>

    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-responsive table-borderless user-table">
      <thead class="column-top">
        <tr>
          <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
          <th scope="col" width="5%" style="color: white;">Name</th>
          <th scope="col" width="20%" style="color: white;">Badges</th>
          <th scope="col" width="20%" style="color: white;">Quests</th>
          <th scope="col" width="20%" style="color: white;">Certificates</th>
          <th scope="col" width="30%"></th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr onclick="window.location.href='{{ url_for('detail', user=student) }}';" class="border">
          <td><input class="form-check-input" type="checkbox"></td>
          <td>{{student.name}}
            <br>
            {{student.email}}
          </td>
          <td>{{student.badges}}</td>
          <td>{{student.quests}}</td>
          <td>{{student.certificates}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{{ url_for('static',filename='js/users.js') }}"></script>
{%endblock%}